.content_wrap{
    min-width: 1300px !important;
}
.cafe_type{
    text-align: left;
    padding-left:18px;
    position: relative;
}
.cafe_type>ul{
    font-size: 0;
    display: inline-block;
    width:380px;
}
.cafe_subtype {
    position: absolute;
    top: 80%;
    left: 23%;
    width: 700px;
    text-align: left;
    z-index:100;
    margin-bottom:10px;
    line-height:0 !important;
    display:none;
}

.cafe_subtype li{
    display: inline-block;
    height: 20px;
}

.cafe_subtype li a{
    height: 20px;
}

.cafe_subtype li a:hover{
    text-decoration: underline;
    color:#656969;
}

.cafe_type>ul>li{
    text-align: center;
    font-size: 16px;
    display: inline-block;
    width:80px;
    height:80px;
    line-height: 80px;
    margin-right:10px;
    margin-top:-25px;
    position: relative;
    cursor:pointer;

}
.cafe_type li:hover{

}
.cafe_type li a:hover{

}
.cafe_type .line{
    height: 4px;
    width: 74%;
    margin-right:20px;
    background-color: #bfdfe0;
    position: absolute;
    right:0;
    top:0;
    margin-top: 15px;
}
.cafelist{
    width:32%;
    height:120px;
    outline: 1px grey solid;
    display: inline-block;
    min-width:420px;
    padding:10px;
    background-color:#e9e9e9;

}
.cafelist>div{
    text-align: left;
    float:left;
}
.list_l{
    margin-left:20px;
}
.list_l img{
    width:100px;
    height:100px;
}
.list_r{
    margin-left:15px;
}
.gradeScore{
    display:none;
}
.list_title{
    font-size: 20px;
    font-weight:bold;
}
.reviews{
    display: inline-block;
    font-size:14px;
}
.cafe_info{
    font-size:15px;
    color:grey;
}
.moreBtn{
    width: 28%;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    line-height: 40px;
    background: #bfdfe0;
    font-size: 17px;
    color: #525050;
    margin-top:15px;
}
#grade{
    display: inline-block;
}
.footer{
    position: absolute;
    bottom: 0;
}