.findtitle{
    width: 800px;
    text-align: left;
    margin: 0 auto;
    font-size: 20px;
    position: relative;

}
.find_category{
	font-size: 0;
}

.find_category a{
	display: inline-block;
	font-size:15px;
	background: white;
	padding:10px;
	border:1px black solid;
}
.line{
	height: 4px;
    width: 80%;
    background-color: #bfdfe0;
    margin-top: 15px;
    position: absolute;
    top:0;
    right: 0;
}

.findform{
	width:800px;
	margin:0 auto;
	text-align: left;
	outline:1px black solid;
	padding:30px;
}
.findform input[type="text"],
.findform input[type="password"]{
	width:260px;
	padding-left:10px;
	height:35px;
	background-color:#bfdfe0;
	border:none;
}
.findform .addrtext{
	width:200px !important;
}

.findform td{
	padding:10px 0;
	border-bottom: 1px #bfb9b9 solid;
}
.findform tr:last-child td{
	border:none;
	text-align: center;
	padding-top:20px;
}
#submitBtn{
	width:120px;
	height:35px;
	vertical-align: middle;
	border:none;
}
.findform .description{
	font-size:12px;
}
.footer{
	position: fixed;
	bottom:0;
}